/* Creation de grid de la page */
#pageAnimaux section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
}

/* Definir les proportions et couleurs initials des cartes */
#pageAnimaux article{
    min-height: 600px;
    max-height: auto;
    margin-bottom:  100px;
    background-color:rgb(27,27,27);
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.144);
    padding-bottom: 20px;
    overflow: hidden;
}

/* Definir l'alignement du contenu des cartes en flex column */
#pageAnimaux article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*dimensions d'image des cartes*/
.images-animaux img{
    width: 100%;
    height: inherit;
    object-fit: cover;
}
/*dimensions du cadre de l'image des cartes*/
.images-animaux{
    height: 300px;
    width: 100%;
}

/*button en savoir plus sur les animaux*/
#pageAnimaux button{
    width: 150px;
    padding: 10px;
    border-radius: 30px;
    align-self: center;
    border: none;
    background-color: #a45c10;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.212) inset;
}

/*hover sur les boutons des cartes des animaux*/
#pageAnimaux button:hover{
    transition: 0.4s;
    background-color: #347434;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.164);
}

.information-general-animaux{
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    height: inherit;
}

/* conteneur du logo animal rescue*/
.animal-rescue-logo-container{
    width: 200px;
    height: auto;
}

/*conteneur de l'image du logo animal rescue*/
.animal-rescue-logo-container>img{
    width: 100%;
    height: auto;
}

/*positionement et alignement du gro titre et du logo animal rescue*/
.animal-rescue{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Positionnement des ecussons d'animaux*/
.ecussons-selections{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*dimension de conteneur des ecussons*/
.container-ecussons{
    width: 200px;
    height: 200px;
}

/*dimensions des img d'ecussons*/
.container-ecussons>img{
    width: 200px;
    height: auto;
}

/*animations d'aggrandissement des ecussons lors du survol de la souris*/
.container-ecussons>img:hover{
    transition: 0.6s;
    transform: scale(1.3);
}